<launch>

    <!--Setup TF Transforms-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_2_laser"
          args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /laser 100"/>
    <node pkg="tf" type="static_transform_publisher" name="laser_2_imu_link"
          args="0.0 0.0 0.0 0.0 0.0 0.0 /laser /imu_link 100"/>

    <!--Setup Nodes-->
    <!--IMU node-->
    <include file="$(find tourbot_main)/launch/tourbot_imu.launch"/>
    <!--RPlidar node-->
    <include file="tourbot_rplidar.launch"/>


    <node pkg="gmapping"
          type="slam_gmapping"
          name="slam_gmapping">
        <!--output="screen">-->

        <param name="map_udpate_interval" value="1.0"/>
        <param name="maxUrange" value="4.99"/>
        <param name="sigma" value="0.1"/>
        <param name="kernelSize" value="1"/>
        <param name="lstep" value="0.15"/>
        <param name="astep" value="0.15"/>
        <param name="iterations" value="1"/>
        <param name="lsigma" value="0.1"/>
        <param name="ogain" value="3.0"/>
        <param name="lskip" value="1"/>
        <param name="srr" value="0"/>
        <param name="srt" value="0"/>
        <param name="str" value="0"/>
        <param name="stt" value="0.1"/>
        <param name="linearUpdate" value="1.0"/>
        <param name="angularUpdate" value="0.5"/>
        <param name="temporalUpdate" value="0.4"/>
        <param name="resampleThreshold" value="0.5"/>
        <param name="particles" value="200"/>
        <param name="xmin" value="-5.0"/>
        <param name="ymin" value="-5.0"/>
        <param name="xmax" value="5.0"/>
        <param name="ymax" value="5.0"/>
        <param name="delta" value="0.02"/>
        <param name="llsamplerange" value="0.01"/>
        <param name="llsamplestep" value="0.05"/>
        <param name="lasamplerange" value="0.05"/>
        <param name="lasamplestep" value="0.05"/>
        <param name="minimumScore" value="10000"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>
