<launch>
    <!--lidar args-->
    <arg name="lidar_port"     value="/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0"/>
    <arg name="lidar_frame_id" value="laser"    />
<!--    <arg name="lidar_scan_mode" value="Boost"/>-->
    <arg name="lidar_scanmode" value="Stability" />

    <!-- static transforms -->
    <!--<node pkg="tf" type="static_transform_publisher" name="map_to_odom"        args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 50"/>-->
    <!--<node pkg="tf" type="static_transform_publisher" name="odom_to_base_link"  args="0.0 0.0 0.0 0.0 0.0 0.0 /odom /base_link 50"/>-->
    <!--<node pkg="tf" type="static_transform_publisher" name="base_link_to_imu"   args="0.0 0.03 0.0 0.0 0.0 0.0 /base_link /imu_link 100"/>-->
    <!--<node pkg="tf" type="static_transform_publisher" name="base_link_to_imu"   args="0.0 0.03 0.0 0.0 0.0 0.0 /base_link /imu_link 50"/>-->
    <!--<node pkg="tf" type="static_transform_publisher" name="imu_to_imu_enu" args="0 0 0 0.70710678118 0.70710678118 0 0 imu_link imu_link_enu 100"/>-->
    <!--<node pkg="tf" type="static_transform_publisher" name="imu_to_imu_enu" args="0 0 0 0.70710678118 0.70710678118 0 0 imu_link imu_link_enu 100"/>-->
<!--    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /$(arg lidar_frame_id) $(arg lidar_rpm)/60" />-->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /$(arg lidar_frame_id) 100" />

    <!--<node pkg="tf" type="static_transform_publisher" name="laser_2_imu_link"                    args="0.0 0.0 0.0 0.0 0.0 0.0 /laser /imu_link 100"/>-->

    <!--<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /$(arg lidar_frame_id) 100" />-->

    <!--<node pkg="tf" type="static_transform_publisher" name="map_2_odom"                          args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 100"/>-->
    <!--<node pkg="tf" type="static_transform_publisher" name="odom_2_base_link"                    args="0.0 0.0 0.0 0.0 0.0 0.0 /odom /base_link 100"/>-->


    <!-- IMU Node -->
    <include file="$(find tourbot_imu)/launch/tourbot_imu.launch"/>

    <!-- IMU Filter Nodes -->
    <!--<include file="$(find tourbot_main)/launch/tourbot_complementaryfilter.launch"/>-->
    <!--<include file="$(find tourbot_main)/launch/tourbot_madgwick_filter.launch"/>-->

    <!-- Lidar Node -->
    <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
        <param name="serial_port"       type="string"   value="$(arg lidar_port)"/>
        <param name="serial_baudrate"   type="int"      value="115200"/><!--A1/A2 -->
        <param name="frame_id"          type="string"   value="$(arg lidar_frame_id)"/>
        <param name="inverted"          type="bool"     value="true"/>
        <param name="angle_compensate"  type="bool"     value="true"/>
        <!-- Scan modes: Standard - Express - Boost - Stability -->
        <param name="scan_mode"         type="string"   value="$(arg lidar_scan_mode)"/>
        <param name="motor_pwm"         type="int"      value="$(arg lidar_rpm)"/>
    </node>

    <!--Lidar Transform args-->
    <arg name="fixed_frame"    value="map"      />
    <arg name="base_frame"     value="base_link"/>

    <!--Lidar Scan-matcher node-->
    <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
        <!-- Coordinate frames -->
        <param name="fixed_frame"   value="$(arg fixed_frame)"/>
        <param name="base_frame"    value="$(arg base_frame)"/>
        <!-- Motion prediction -->
        <param name="use_imu"   value="true"/>
        <param name="use_odom"  value="false"/>
        <param name="use_vel"   value="false"/>
        <!-- Point cloud input -->
        <param name="use_cloud_input" value="false"/>
        <!-- Key frames -->
        <param name="kf_dist_linear"    value="0.1"/>
        <param name="kf_dist_angular"   value="0.175"/>
        <!-- Output -->
        <param name="publish_tf"            value="true"/>
        <param name="publish_pose"          value="false"/>
        <param name="publish_pose_stamped"  value="true"/>
        <!-- Scan matching -->
        <param name="max_iterations"                value="20000"/>
        <param name="max_correspondence_dist"       value="0.9"/>
        <!--<param name="max_angular_correction_deg"    value="180.0"/>-->
        <param name="max_angular_correction_deg"    value="45.0"/>
        <param name="max_linear_correction"         value="0.9"/>
        <param name="epsilon_xy"                    value="0.000001"/>
        <param name="epsilon_theta"                 value="0.000001"/>
        <param name="outliers_maxPerc"              value="0.90"/>
    </node>

    <!--scm node-->
    <include file="$(find tourbot_main)/launch/tourbot_scm_mapping.launch" />

    <!--  GeoTiff Mapper Node  -->
    <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch"/>

    <!--  Rviz Node  -->
    <node pkg="rviz" type="rviz" name="rviz" args="-f map" />
    <!--<node pkg="rviz" type="rviz" name="rviz" args="-f base_link"/>-->
    <!--<node pkg="rviz" type="rviz" name="rviz" args="-d $(find tourbot_main)/rviz/tourbot_scanmatcher.rviz"/>-->
</launch>
